FifaLeague.API/bin/Debug/netcoreapp2.0/FifaLeague.API.dll
FifaLeague.API/bin/Debug/netcoreapp2.0/FifaLeague.API.pdb
FifaLeague.API/obj/Debug/netcoreapp2.0/FifaLeague.API.dll
FifaLeague.API/obj/Debug/netcoreapp2.0/FifaLeague.API.pdb
FifaLeague.API/obj/Debug/netcoreapp2.0/FifaLeague.API.csprojResolveAssemblyReference.cache
FifaLeague.API/obj/FifaLeague.API.csproj.EntityFrameworkCore.targets
