FifaLeague.API/bin/Debug/netcoreapp2.0/FifaLeague.API.dll
FifaLeague.API/bin/Debug/netcoreapp2.0/FifaLeague.API.pdb
FifaLeague.API/obj/Debug/netcoreapp2.0/FifaLeague.API.dll
FifaLeague.API/obj/Debug/netcoreapp2.0/FifaLeague.API.pdb
FifaLeague.API/obj/Debug/netcoreapp2.0/FifaLeague.API.csprojResolveAssemblyReference.cache
FifaLeague.API/obj/FifaLeague.API.csproj.EntityFrameworkCore.targets
FifaLeague.API/obj/Debug/netcoreapp2.0/FifaLeague.API.csprojAssemblyReference.cache
FifaLeague\.API/obj/Debug/netcoreapp2\.0/FifaLeague\.API\.AssemblyInfo\.cs
FifaLeague\.API/obj/Debug/netcoreapp2\.0/FifaLeague\.API\.AssemblyInfoInputs\.cache
FifaLeague\.API/obj/Debug/netcoreapp2\.0/FifaLeague\.API\.csproj\.CoreCompileInputs\.cache