<table class="u-full-width">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody *ngFor="let player of Players | async">
    <tr>
      <td><button (click)="removePlayer(player)">X</button></td>
      <td (click)="selectPlayer(player)">{{ player.name }}</td>
      <td>{{ player.firstName }}</td>
      <td>{{ player.lastName }}</td>
      <td>{{ player.score }}</td>
    </tr>
  </tbody>
</table>